@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.header h4 {
  padding-left: 40%;
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6,
table {
  color: white !important;
}
.login-page {
  width: 360px;
  padding: 1% 0 0;
  margin: auto;
}
label {
  display: block;
  margin-top: 10px;
}
.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}
.card {
  background-color: #315c6e;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 10px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 5px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.form {
  position: relative;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 50px;
  text-align: center;
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  margin: 0 0 15px;
  padding: 15px;
  
  font-size: 14px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: rgb(255, 255, 255);
  width: 100%;
  border: 0;
  padding: 15px;
  color: #000;
  font-size: 14px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
  opacity: 0.6;
}
.form button:hover,
.form button:active {
  background: #7bb2ff69;
}
.form button:focus {
  box-shadow: 0 0 20px #7bb1ff, 0 0 20px hsl(215, 100%, 74%);
  background-color: #5691e6;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  opacity: 1;
}
.form input:focus {
  box-shadow: 0 0 20px #fff, 0 0 20px #fff;
  border-radius: 10px;
  opacity: 1;
}
.form span {
  font-family: "Roboto", sans-serif;
  position: relative;
  display: inline-block;
  background: #fff;
  color: #000;
  opacity: 0.8;
  padding: 10px;
  width: 100%;
  margin: 0 0 15px;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 15px;
}
.form .message a {
  color: #fff;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container-bg {
  background-color: rgba(49, 37, 105, 0.267);
  height: 100%;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 15%;
  padding-right: 15%;
}

.container {
  margin-top: 30px;
}

.container:before,

.container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #000000;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #ef3b3a;
}

.patient .form-control,
.doctor .form-control {
  border-color: rgba(126, 239, 104, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
    0 0 15px rgba(126, 239, 104, 0.6);
  outline: 0 none;
}

.jumbotron {
  background-color: #315c6e00;
}
.bg-dark {
  background-color: #315c6e !important;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  border: none;
}
.navbar-dark .navbar-nav .nav-link {
  margin-left: 20px;
  color: #000;
  font-size: large;
}
.navbar-dark .navbar-brand {
  color: #000;
}
.create {
  color: rgb(255, 255, 255) !important;
}

.react-datepicker__time-list-item--disabled {
  display: none;
}

/* button styles*/

.btn {
  margin-top: 1rem;
  margin-right: 1rem;
  color: white !important;
  background-color: rgb(15, 15, 219) !important;
  
}

/* this is background collor for the open the burger menu
*/

.erLTYI {
  background: #1a1738 !important;
  max-width: 30vh !important;
  z-index: 1;
  color: #fff !important;
  
}

/* this is links collor in the burger menu
*/

.erLTYI a {
  color: white !important;
  
}
/* this is background collor for the closing of the burger menu
*/
.kajfWd {
  background: #1a1738 !important;
}

.table {
  margin-top: 20px;
}

/* this hides the burger menu when the screen gets to big  */
@media screen and (min-width: 800px) {

  .gLulYg {
    display: none !important;
  }
}


/* this hides the desktop links when the screen gets to small */
@media screen and (max-width: 800px) {

  .nav-link {
    display: none !important;
  }
}

@media screen and (max-width: 800px) {

  .kajfWd {
    display: none !important;
  }
}


/* this is a quick and dirty fix for the colums / tables */
@media 
only screen and (max-width: 3500px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "First Name"; }
	td:nth-of-type(2):before { content: "Last Name"; }
	td:nth-of-type(3):before { content: "Phone number"; }
	td:nth-of-type(4):before { content: "Email"; }
	td:nth-of-type(5):before { content: "City"; }
}