//
@import url("https://fonts.googleapis.com/css2?family=Michroma&family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400;1,600;1,700;1,800&display=swap");
@import "simple-grid", "colors", "typography";

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}

/* 
----------------------------------------------------------
    HEADER
----------------------------------------------------------
*/

.header {
  background-color: $black;
  height: 75px;
  padding-top: 15px;

  top: 0;
  z-index: 5000;
  width: 100%;
}

.header .nav {
  padding-top: 10px;
  height: auto;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  display: block;
  float: right;
  margin-left: 20px;
}
.header nav.open {
  display: block;
}
.header nav.closed {
  display: none;
}

.header nav a {
  color: $white;
  text-decoration: none;
  font-family: $open-sans;
  text-transform: uppercase;
  font-weight: $bold;
  padding: 10px 0 10px 10px;
  display: block;
  transition: all 0.2s ease-out;
  &:hover {
    color: $black;
    padding-left: 15px;
    transition: all 0.2s ease;
    background-color: $orange;
  }
  &.active {
    color: $black;
    padding-left: 15px;
    background-color: $orange;
  }
}


.logo {
  float: left;
  font-family: $michroma;
  color: $white;
  font-weight: $regular;
  font-size: 1.5em;
  margin-top: 5px;
  // margin-left: 20px;
}


//--------------------------------------------------------

.navbar .navbar-expand .navbar-dark .bg-dark {
  border-bottom: 1px solid #EAEAEB;
  text-align: right;
  height: 70px;
  line-height: 70px;
}

.navbar-nav .mr-auto {
  margin: 0 30px 0 0;
}

.navbar-nav .mr-auto a {
  clear: right;
  text-decoration: none;
  color: gray;
  margin: 0 10px;
  line-height: 70px;
}

label {
  margin: 0 40px 0 0;
  font-size: 26px;
  line-height: 70px;
  display: none;
  width: 26px;
  float: right;
}

#toggle {
  display: none;
}

@media only screen and (max-width: 655px) {
   label {
     display: block;
     cursor: pointer;
   }
   .navbar-nav .mr-auto {
     text-align: center;
     width: 100%;
   }
   .navbar-nav .mr-auto a {
     display: block;
     border-bottom: 1px solid #EAEAEB;
     margin: 0;
   }

   #toggle:checked + .navbar-nav .mr-auto {
   display: block;
   }
}